Certificate-Generator/src/main/resources/ocsp.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://certificate.com/ocsp" targetNamespace="http://certificate.com/ocsp"
	elementFormDefault="qualified">

	<xs:element name="getOCSPRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="serial" type="xs:string" />
			</xs:sequence> 
		</xs:complexType>
	</xs:element>

	<xs:element name="getOCSPResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="verified" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>